.tudo
{

}

#logo
{
    
}

#loja
{
    padding: 5% 10%;
    text-align: center;
}

.class-loja
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-body > p > span
{
    font-weight: 700;
    font-size: 20px;
}

#formulario
{
    padding: 5% 10%;
}

#formulario > h2
{
    text-align: center;
}

.row > div
{
    padding: 3%;
    margin: 3%;
    box-shadow: 0px 0px 7px rgb(182, 182, 182);
}

.aaa
{
    width: max-content;
}