main
{
    background-image: url(img/fundo.png);
    background-size: contain;
}

nav
{
    font-weight: 600;
}

#logo:hover
{
    animation: giro 1s;
}

@keyframes giro
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(-180deg);
    }
}

#cubos, #acessorios 
{
    padding: 5% 10%;
    text-align: center;
}

section > h2
{
    margin-bottom: 5%;
}

.class-loja
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-body > p > span
{
    font-weight: 700;
    font-size: 20px;
}

.div-ani
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.cubo-ani
{
    width: 50px;
    height: 50px;
    background-size: contain;
    background-image: url(img/cubo-sobre-nos.png);
    animation: go-back 4s infinite alternate-reverse;
}

.cubo-ani-reverse
{
    width: 50px;
    height: 50px;
    background-size: contain;
    background-image: url(img/cubo-sobre-nos.png);
    animation: go-back2 4s infinite alternate-reverse;
}

@keyframes go-back {
    from
    {
        transform: translateX(150px);
    }
    to 
    {
        transform: translateX(0px);
    }
}

@keyframes go-back2 {
    from
    {
        transform: translateX(-150px);
    }
    to 
    {
        transform: translateX(0px);
    }
}

#sobre-nos
{
    margin: 5% 3%;
    text-align: center;
}

#sobre-nos > div
{
    box-shadow: 0px 0px 7px rgb(182, 182, 182);
    margin-left: clamp(1rem, 13%, 200px);
    margin-right: clamp(1rem, 13%, 200px);
    background-color: white;
    padding: 2%;
}

#sobre-nos > div > h3
{
    text-align: center;
    font-weight: bolder;
}

#sobre-nos > div > p
{
    text-align: left;
    font-size: large;
    font-weight: light;
}

#formulario
{
    padding: 5% 10%;
}

#formulario > h2
{
    text-align: center;
}

#formulario > div
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.forms
{
    width: clamp(20rem, 40%, 50rem);
    background-color: white;
    padding: clamp(15px, 3%, 30px);
    margin: 3%;
    box-shadow: 0px 0px 7px rgb(182, 182, 182);
}

#termos
{
    font-style: italic;
    font-weight: 500;
    cursor: pointer;
}

footer {
    padding: 3%;
    background: #361a5b;
}

#foot
{    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
}

#foot > div
{
    flex: 1;
}

#foot > div > h4, h3
{
    text-align: center;
    font-weight: 600;
    font-size: larger;
}

.contato
{
    font-weight: bold;
}

.bola
{
    margin: 0 2%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #170c27;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}