section
{
    padding: 5% 10%;
    text-align: center;
}

.loja
{
    padding-top: 3%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cor
{
    background-color: #361a5b;
}